@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@font-face{
    font-family: Gotham;
    src: url("../FONT/Gotham\ Black.otf")
}


body{
    font-family: Gotham, 'Poppins' ;
    color: white;
    margin: 0 ;
    padding: 0;

}

h1{
    font-family: Gotham;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
line-height: 0;


}

header{
    text-align: center;
    width: 100%;
    min-height: 95vh;
    background-image:url("../IMAGES/headerimage.png");
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;

}



ul{
    list-style-type: none;


}

li{
    display: inline-block;
padding-right: 100px;
padding-left: 25px;
padding-top: 25px;
font-size: 20px;
}

.stickyheader{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    
font-weight: 900;
font-size: 28px;
/* identical to box height */

}

button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;


}

.sponsors{
    width: 207.84px;
    height: 34px;
    margin-top: 15px;
}

.footer{
width: 100%;
background-color: #7791A6;

height: 114px;
font-family: poppins;
font-style: normal;
font-weight: 900;
font-size: 13px;
margin-top: 200px;
padding-top: 15px;
}

.dark{
min-height: 110vh;
background-color: rgb(51, 51, 51);
margin-top: 0px;
padding-top: 12px;
box-sizing: border-box;
width: 100%;



}

h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
height: 46px;  

}

.bestseller{
    text-align: center;

}

.IMAGES{
display: flex;
flex-direction: row;

}

figure{
    position: relative;
    text-align: center;
    top: 45%;

}

figure img{
    width: 400px;


}

div h3{
    font-weight: 900;
    font-size: 60px;
    line-height: 115px;


}

figure div{
    position: absolute;
    top: 27%;
    left: 0cm;
    right: 0cm;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    font-size: 20px;
background-color: #5D8196;
box-sizing: border-box;
width: 400px;
height: 148px;
border-radius: 13px;

text-align: left;
line-height: 29px;
padding: 20px;
margin-top: 3%;

}

.purple{
    background-color: #7E849D;
}

.gray{
    background-color: #797E82;
}

.white{
    width:100%;
    background-color: white;
    height: 100vh;
    color: #465C6A;
    display: flex;
    flex-direction: row;
    



}


h4{
    font-family: Gotham;
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 96px;
text-align: left;
margin-top: -2vh;
}

h5{
    font-family: Gotham;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: left;
margin-top: 12vh;
margin-bottom: 0px;

}

.white .numbers{
    display: flex;
flex-direction: column;



}
.white div img{
    height: auto;
    width: 46.81px;

}

.white div p{
    font-family: helvetica;
    font-size: 36px;
    font-weight: 100;
    margin-left: 2.5vh;
}

.white .numbers div{
    display: flex;
    flex-direction: row;
    margin-top: -3vh;

}


.white .canada{
  
color: black;
position: relative;
flex:1;
background-color: blue;

}

.white .canada img{
   width: 100%;
   height: 100%;

    
}

.canada div{
    position: absolute;
    top: 30%;
    left: 0cm;
    right: 0cm;
    margin-left: auto;
    margin-right: auto;
    color: white
    

}

.canada h3{
    font-family: Gotham;
font-style: normal;
font-weight: 900;
font-size: 144px;
}

hr{

    width: 107px;
    height: 6px;
    background: #8BABBC;
    margin-bottom: 5vh;
margin-left: 0px;
margin-top: -0.5px;
}


.description{
    box-sizing: border-box;
    margin-top: 100px;
    flex:1;
    padding-left: 0px;
    display: flex;
    flex-direction: column;



}